{% extends "template.html" %}
{% block content %}
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 center">
					<h4>Art</h4>
					<p class="left-align light">I consider myself to be an art enthusiast more than an artist. I have never taken a real art class, but I've always enjoyed doodling. A few years ago I decided to buy myself some real art supplies and since then art has become a rewarding hobby for me.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="section">
	

		</div>
	</div>
	
{% endblock %}