{% extends "template.html" %}
{% block content %}
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 center">
					<h4>About</h4>
					<p class="left-align light">This website is meant to be a personal homepage where I can share projects that I have created as well as photos of my life. Later on I'd like to add a short biography and maybe a blog about the projects that I work on for fun. Right now this is just a thing I'm building for the sake of having it.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 center">
					<h4>Pages</h4>
				</div>
			</div>
	
		<!--   Icon Section   -->
			<div class="row">
			
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="images/index/photography.jpg">
							<span class="card-title strokeme">Photography</span>
							<a class="btn-floating halfway-fab waves-effect waves-main" href="photography.html"><i class="material-icons">navigate_next</i></a>
						</div>
						<div class="card-content">
							<p>Some of the pictures that I've taken over the past year.</p>
						</div>
					</div>
				</div>
	
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="images/index/thumbs/climbing.jpg">
							<span class="card-title strokeme">Climbing</span>
							<a class="btn-floating halfway-fab waves-effect waves-main" href="climbing.html"><i class="material-icons">navigate_next</i></a>
						</div>
						<div class="card-content">
							<p>Trip reports, route beta, and more.</p>
						</div>
					</div>
				</div>
	
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="images/index/thumbs/bio.jpg">
							<span class="card-title strokeme">Bio</span>
							<a class="btn-floating halfway-fab waves-effect waves-main" href="bio.html"><i class="material-icons">navigate_next</i></a>
						</div>
						<div class="card-content">
							<p>A short Biography.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
		
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="images/index/thumbs/projects.jpg">
							<span class="card-title strokeme">Projects</span>
							<a class="btn-floating halfway-fab waves-effect waves-main" href="projects.html"><i class="material-icons">navigate_next</i></a>
						</div>
						<div class="card-content">
							<p>Hobby projects.</p>
						</div>
					</div>
				</div>
				
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="images/index/thumbs/art.jpg">
							<span class="card-title strokeme">Art</span>
							<a class="btn-floating halfway-fab waves-effect waves-main" href="art.html"><i class="material-icons">navigate_next</i></a>
						</div>
						<div class="card-content">
							<p>Things I draw.</p>
						</div>
					</div>
				</div>
	
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="images/index/thumbs/professional.jpg">
							<span class="card-title strokeme">Professional</span>
							<a class="btn-floating halfway-fab waves-effect waves-main" href="professional.html"><i class="material-icons">navigate_next</i></a>
						</div>
						<div class="card-content">
							<p>My professional portal.</p>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</div>
	
{% endblock %}